#raju{
    width: 100% 50vw;
    height: 15vh;
    background-size: 100%;
    background-color: darkolivegreen                ;
    text-decoration: underline;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px 0px 10px 0px;
}
#vikram{
    background-color: grey;
}
#surya{
    display: flex;
    margin: 30px;
    padding:20px 150px 5px 100px;
}
#a{
    width:700px;
    height: 60vh;
    background-color: white;
    font-size: 20px;
    color: rgb(30, 210, 75);
    border: 2px solid grey;
    text-decoration: underline;
    text-align: center;
    margin-left: 50px;


}
img{
    width:700px;
    padding:10px;
    margin:10px 20px;
    height: 40vh;
}
h4{
    font-size: 10px;
    color: brown;
    text-decoration: none;

}
#karna{
    display: flex;
    background-color: grey;
    padding:20px 150px 5px 100px;


    
}
#b{
    width: 700px;
    height: 60vh;
    color: rgb(42, 165, 67);
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    background-color:white;
    border: 5px solid grey;
    margin-left: 60px;
      
}
img{
    width: 300px;
    padding: 10px;
    height: 40vh;
    margin:10px 20px ;
}
h4{
    color: aqua;
    font-size: 10px;
    text-decoration: none;
}
#suchi{
    width: 100% 50vw;
    height: 15vh;
    background-color: mediumpurple;
    background-size: 100%;
    text-align: center;
    padding: 40px 20px 0px 20px;
    

}